<style>
.our-team { text-align: center; }
.div1 { background-color: #EBEBEB;}
.our-team .pic{
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 300ms linear 0s;
    filter: grayscale(0%);
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: -10px;
}
.our-team .post{
    display: block;
    font-size: 10px;
    color: #333;
    text-transform: capitalize;
}
</style>

<section id="portfolio-work">

    <br> <br>

  <div class="div1">
      <h2 style="text-align: center;">Project coordinators</h2>
      <hr>
    <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.Youtube.com/" target="_self">
                          <img src="/assets/img/prof_pic.jpg" alt="John" >
                      </a>
                  </p>
              </div>
              <h2 class="title">John Pannell</a></h2>
              <h3 class="post"> 
                   <p>University of Lausanne, Switzerland</p>
              </h3>
          </div>
      </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.Youtube.com/" target="_self">
                          <img src="/assets/img/prof_pic.jpg" alt="John" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Pannell</a></h2>
              <h3 class="post"> 
                   <p>University of Lausanne</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.Youtube.com/" target="_self">
                          <img src="/assets/img/prof_pic.jpg" alt="Shengman" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Shengman Lyu</a></h2>
              <h3 class="post"> 
                   <p>University of Lausanne, Switzerland</p>
              </h3>
          </div>
      </div>

    </div>
  </div>
</section>

<be> <br>

<section id="portfolio-work">
    
  <div class="container">
        <h2 style="text-align: left;">Project partners</h2>
      <hr>

    <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/prof_pic.jpg">
              </div>
              <h2 class="title">Shengman Lyu</h2>
              <h3 class="post">  </h3>
               <p>
               University of Lausanne, Switzerland
               </p>
            </div>
        </div>
      
      
    </div>
</div>

</section>
