<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

<style>
.our-team{ text-align: center; }
.div1 {background-color: #f0f0f0;}
.our-team .pic{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.our-team .pic img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: -10px;
}
.our-team:hover .title{ color: #5b8059; }


.our-team .post{
    display: block;
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
}

@media only screen and (max-width: 767px){
    .our-team{ margin-bottom: 30px; }
}

</style>


<section id="portfolio-work">

    <br> <br>

  <div class="div1">
      <h2 style="text-align: center;">Project coordinators</h2>
      <hr>
    <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.unil.ch/dee/en/home/menuguid/people/group-leaders/prof-john-pannell.html" target="_self">
                          <img src="/assets/img/john.jpg" alt="John Pannell" >
                      </a>
                  </p>
              </div>
              <h2 class="title">John Pannell</a></h2>
              <h3 class="post"> 
                   <p>University of Lausanne, Switzerland</p>
              </h3>
          </div>
      </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.researchgate.net/profile/Shengman-Lyu" target="_self">
                          <img src="/assets/img/shengman.jpg" alt="Shengman Lyu" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Shengman Lyu</a></h2>
              <h3 class="post"> 
                   <p>University of Lausanne, Switzerland</p>
              </h3>
          </div>
      </div>

        
    </div>
  </div>
</section>

 <div class="container">
     <br> <br>     
 </div>

<section id="portfolio-work">
    
  <div class="div1">
        <h2 style="text-align: center;">Project partners</h2>
      <hr>

    <div class="row">

         <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://labsapir.wixsite.com/labsapir" target="_self">
                          <img src="/assets/img/yuval.jpg" alt="Yuval Sapir" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Yuval Sapir</a></h2>
              <h3 class="post"> 
                   <p>Tel Aviv University, Israel</p>
              </h3>
          </div>
      </div>

         <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.creaf.cat/personal/santiago-c-gonzalez-martinez" target="_self">
                          <img src="/assets/img/santi.jpg" alt="Santiago González-Martínez" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Santiago González-Martínez</a></h2>
              <h3 class="post"> 
                   <p>INRAE, France</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.plantecol.org/" target="_self">
                          <img src="/assets/img/lindsay.jpg" alt="Lindsay Turnbull" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Lindsay Turnbull</a></h2>
              <h3 class="post"> 
                   <p>Oxford University, UK</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://twyford.bio.ed.ac.uk/home" target="_self">
                          <img src="/assets/img/alex.jpg" alt="Alex Twyford" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Alex Twyford</a></h2>
              <h3 class="post"> 
                   <p>University of Edinburgh, UK</p>
              </h3>
          </div>
      </div>
    </div>

       <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://nioo.knaw.nl/en/employees/koen-verhoeven" target="_self">
                          <img src="/assets/img/koen.jpg" alt="Koen Verhoeven" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Koen Verhoeven</a></h2>
              <h3 class="post"> 
                   <p>Netherlands Institute of Ecology, Netherlands</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.uib.no/en/persons/Vigdis.Vandvik" target="_self">
                          <img src="/assets/img/vigdis.jpg" alt="Vigdis Vandvik " >
                      </a>
                  </p>
              </div>
              <h2 class="title">Vigdis Vandvik </a></h2>
              <h3 class="post"> 
                   <p>University of Bergen, Norway</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.ibot.cas.cz/popekol/?team=munzbergova-zuzana-2" target="_self">
                          <img src="/assets/img/zuzana.jpg" alt="Zuzana Münzbergová" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Zuzana Münzbergová</a></h2>
              <h3 class="post"> 
                   <p>Czech Academy of Sciences, Czech Republic</p>
              </h3>
          </div>
      </div>

         <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.uni-kassel.de/fb10/institute/biologie/fachgebiete/botanik/prof-dr-birgit-gemeinholzer" target="_self">
                          <img src="/assets/img/birgit.jpg" alt="Birgit Gemeinholzer" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Birgit Gemeinholzer</a></h2>
              <h3 class="post"> 
                   <p>Universität Kassel, Germany</p>
              </h3>
          </div>
      </div>
    </div>

       <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://lascouxlab.wordpress.com/" target="_self">
                          <img src="/assets/img/martin.jpg" alt="Martin Lascoux" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Martin Lascoux</a></h2>
              <h3 class="post"> 
                   <p>Uppsala University, Sweden</p>
              </h3>
          </div>
      </div>

         <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.ieg.uu.se/plant/karrenberg-group/" target="_self">
                          <img src="/assets/img/sophie.jpg" alt="Sophie Karrenberg" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Sophie Karrenberg</a></h2>
              <h3 class="post"> 
                   <p>Uppsala University, Sweden</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://www.helsinki.fi/en/researchgroups/forest-genomics" target="_self">
                          <img src="/assets/img/tanja.jpg" alt="Tanja Pyhäjärvi" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Tanja Pyhäjärvi</a></h2>
              <h3 class="post"> 
                   <p>University of Helsinki, Finland</p>
              </h3>
          </div>
      </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://biogeco.hub.inrae.fr/umr-biogeco/personnel/annuaire-a-z/f/fievet-virgil" target="_self">
                          <img src="/assets/img/virgil.jpg" alt="Virgil Fievet" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Virgil Fievet</a></h2>
              <h3 class="post"> 
                   <p>University of Bordeaux, France</p>
              </h3>
          </div>
      </div>
    </div>

       <div class="row">
          <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <p>
                      <a href="https://biogeco.hub.inrae.fr/umr-biogeco/personnel/annuaire-a-z/h/hampe-arndt" target="_self">
                          <img src="/assets/img/arndt.jpg" alt="Arndt Hampe" >
                      </a>
                  </p>
              </div>
              <h2 class="title">Arndt Hampe</a></h2>
              <h3 class="post"> 
                   <p>INRAE, France</p>
              </h3>
          </div>
      </div>
    </div>

    </div>
</div>

</section>
